@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
body {
    position: relative;
}

#enterPage {
    height: 100vh;
}

#homePage {
    background: #030B28;
    height: 100vw;
    width: 100%;
    margin: 0;
    color: white;
}

#logo {
    position: relative;
    top: -7px;
    width: 100%;
    left: 0;
}

#topNav {
    border: none;
}

#nav {
    float: right;
    margin-left: 40vw;
    display: -webkit-box;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

div.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: #000;
    opacity: .8;
    z-index: 999;
    left: 0;
    right: 0;
}

div.text-container {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    opacity: 1;
}

div.text-container h1 {
    font-size: 10rem;
    display: inherit;
    color: indianred;
    font-family: 'Fjalla One', sans-serif;
    margin-top: 20%;
}

div.text-container p.buyNow {
    position: absolute;
    bottom: 24%;
    right: 10%;
}

p.buyNow {
    color: azure;
    border-radius: 10px;
    border: 4.3px solid;
    padding: 20px;
    transition: 0.3s all;
}

p.buyNow::after {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    background: red;
    z-index: -1;
}

@keyframes bobble {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 30px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.btn-container {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: 10%;
}

#mainBtn {
    border-radius: 90px;
    padding: 10px 20px 10px 20px;
    background: none;
    border: 4px solid slategrey;
    transition: all 0.3s;
}

#mainBtn:hover {
    background: slategrey;
}

svg {
    vertical-align: middle;
}

.scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    bottom: 35px;
    padding-left: 7px;
    cursor: pointer;
    z-index: 2;
    color: #c7c4b8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll-down.svg svg {
    width: 25px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.scroll-down.svg .stroke {
    stroke: #ADA99D;
}

.scroll-down.svg .scroller {
    fill: #ADA99D;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

#textBorder {
    border-bottom: 10px solid slategrey;
}

@media screen and (max-device-width: 800px) {
    html {
        background: url(../images/bikes.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}


/*----------- Large Screen --------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    div.btn-container {
        left: 46%;
    }
}


/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.btn-container {
        left: 46%;
    }
}


/* IPad Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    div.btn-container {
        left: 46%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    div.btn-container {
        left: 37%;
    }
}


/* iPad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    div.btn-container {
        left: 43%;
    }
}


/* iPad Pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    div.btn-container {
        left: 45%;
    }
}

@media screen and (min-device-width: 1600px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.btn-container {
        left: 47.5%;
    }
}

@media screen and (min-device-width: 2000px) and (max-device-width: 2400px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.btn-container {
        left: 47.9%;
    }
}