@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Open+Sans+Condensed:300|Oswald:300,400');
@font-face {
    font-family: 'Molot';
    src: url('../fonts/Molot.otf') format('opentype');
}

body {
    position: relative;
}

#enterPage {
    height: 100vh;
}

#logo {
    position: relative;
    top: -7px;
    width: 100%;
    left: 10%;
}

#topNav {
    border: none;
    margin-top: 3%;
}

#nav {
    float: right;
    margin-left: 40vw;
    display: -webkit-box;
}


/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.container-nav {
    display: inline-block;
    cursor: pointer;
}

#hamIcon {
    float: right;
    margin: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: floralwhite;
    margin: 6px 0;
    transition: 0.4s;
}

#hamIcon:hover {
    margin-top: 20px;
    transition: 0.4s all;
}

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* The navigation links inside the overlay */

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
}


/* When you mouse over the navigation links, change their color */

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}


/* Position the close button (top right corner) */

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2.5s linear forwards;
    margin-top: -1%;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

div.overlay_2 {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: url('../images/black-horizontal-stripes.png') repeat center;
    z-index: 999;
    left: 0;
    right: 0;
}

div.text-container {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: whitesmoke;
    opacity: 1;
}

div.text-container h1 {
    font-size: 10rem;
    display: inherit;
    color: white;
    font-family: 'Molot', sans-serif;
    margin-top: 20%;
}

#titleP {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 7px;
}

div.text-container p.buyNow {
    position: absolute;
    bottom: 24%;
    right: 10%;
}


/* -------------------------------- 

General Style

-------------------------------- */

.cd-intro {
    position: relative;
    height: 20vh;
    width: 100vw;
    /* vertically align its content */
    /* display: table; */
    background: transparent;
    overflow: hidden;
}

span#cart.glyphicon-shopping-cart {
    display: none;
    position: absolute;
    top: 41%;
    right: 11%;
    -webkit-animation: updown 5s infinite;
    -moz-animation: updown 5s infinite;
    -o-animation: updown 5s infinite;
    animation: updown 5s infinite;
}

.cd-intro-content {
    /* vertically align inside its parent */
    text-align: center;
    display: table-cell;
    vertical-align: bottom;
    padding: 0 5%;
    background: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    right: 0%;
    bottom: 10%;
}

.cd-intro-content h1 {
    font-size: 2.4rem;
    color: #ffffff;
}

.cd-intro-content p {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4;
    margin: 1em 0;
    color: #6d7a97;
}

.cd-intro-content .action-wrapper {
    display: inline-block;
}

.cd-intro-content .action-wrapper::after {
    clear: both;
    content: "";
    display: table;
}

.cd-intro-content .action-wrapper>* {
    float: left;
}

@media only screen and (min-width: 768px) {
    .cd-intro-content h1 {
        font-size: 5.2rem;
        font-weight: 300;
    }
    .cd-intro-content p {
        font-size: 1.6rem;
        margin: 1.5em 0 1.9em;
    }
}

.cd-btn {
    display: inline-block;
    padding: 25px 80px;
    cursor: pointer;
    font-size: 1.3rem;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: .25em;
    margin-right: 1.5em;
    transition: all 0.3s;
}

.cd-btn:nth-of-type(2) {
    margin-right: 0;
}

.cd-btn.main-action {
    background-color: none;
}

@media only screen and (min-width: 480px) {
    .cd-btn {
        padding: 1.2em 1.6em;
    }
}

@media only screen and (min-width: 768px) {
    .cd-btn {
        padding: 1.4em 1.8em;
    }
}

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
    opacity: 0;
    -webkit-animation-duration: 0.8s;
    -moz-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.no-cssanimations .cd-intro-content h1,
.no-cssanimations .cd-intro-content h1 span,
.no-cssanimations .cd-intro-content p,
.no-cssanimations .cd-intro-content .cd-btn {
    opacity: 1;
}


/* Button 1c */

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    padding: 25px 80px;
    display: inline-block;
    margin: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:hover {
    color: antiquewhite !important;
}

.btn-1c:after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    background: red;
    border-radius: 4px;
}

.btn-1c:hover,
.btn-1c:active {
    color: #0e83cd;
}

.btn-1c:hover:after,
.btn-1c:active:after {
    width: 100%;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* -------------------------------- 

Mask 2

-------------------------------- */

.mask-2.cd-intro-content * {
    /* overwrite default style */
    opacity: 1;
}

.mask-2.cd-intro-content .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 2em 0;
    overflow: hidden;
}

.mask-2.cd-intro-content .content-wrapper::before {
    /* vertical bar */
    content: '';
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
    -webkit-animation: cd-pulse 3.3s 1.3s both;
    -moz-animation: cd-pulse 3.3s 1.3s both;
    animation: cd-pulse 3.3s 1.3s both;
}

.no-cssanimations .mask-2.cd-intro-content .content-wrapper::before {
    opacity: 0;
}

.mask-2.cd-intro-content .content-wrapper>div {
    /* wrap the entire content */
    position: relative;
    z-index: 1;
}

.mask-2.cd-intro-content .content-wrapper,
.mask-2.cd-intro-content .content-wrapper>div {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 3.1s;
    -moz-animation-delay: 3.1s;
    animation-delay: 3.1s;
    -webkit-animation-fill-mode: backwards;
    -moz-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.mask-2.cd-intro-content .content-wrapper {
    -webkit-animation-name: cd-mask-wrapper;
    -moz-animation-name: cd-mask-wrapper;
    animation-name: cd-mask-wrapper;
}

.mask-2.cd-intro-content .content-wrapper>div {
    -webkit-animation-name: cd-mask-content;
    -moz-animation-name: cd-mask-content;
    animation-name: cd-mask-content;
}

@-webkit-keyframes cd-mask-wrapper {
    0% {
        -webkit-transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-mask-wrapper {
    0% {
        -moz-transform: translateX(50%);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-mask-wrapper {
    0% {
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-mask-content {
    0% {
        -webkit-transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes cd-mask-content {
    0% {
        -moz-transform: translateX(-100%);
    }
    100% {
        -moz-transform: translateX(0);
    }
}

@keyframes cd-mask-content {
    0% {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}

@-webkit-keyframes cd-pulse {
    0%,
    30.8% {
        opacity: 0;
    }
    15.4%,
    46.2%,
    61.5%,
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes cd-pulse {
    0%,
    30.8% {
        opacity: 0;
    }
    15.4%,
    46.2%,
    61.5%,
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes cd-pulse {
    0%,
    30.8% {
        opacity: 0;
    }
    15.4%,
    46.2%,
    61.5%,
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bobble {
    0% {
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(0px, 30px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(0px, 0px, 0px);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

div.btn-container {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-top: 10%;
}

svg {
    vertical-align: middle;
}

.scroll-down {
    position: absolute;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;
    bottom: 35px;
    padding-left: 7px;
    cursor: pointer;
    z-index: 2;
    color: #c7c4b8;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.scroll-down.svg svg {
    width: 25px;
    opacity: 1;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}

.scroll-down.svg .stroke {
    stroke: #ADA99D;
}

.scroll-down.svg .scroller {
    fill: #ADA99D;
    -webkit-animation: updown 1s infinite;
    -moz-animation: updown 1s infinite;
    -o-animation: updown 1s infinite;
    animation: updown 1s infinite;
}

@-webkit-keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-moz-keyframes updown {
    0% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -moz-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -moz-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-o-keyframes updown {
    0% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -o-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -o-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes updown {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
    50% {
        -webkit-transform: translate(0, 5px);
        transform: translate(0, 5px)
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}


/*--------- Media query for video background -------------*/

@media screen and (max-device-width: 800px) {
    html {
        background: url(../images/bikes.png) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}


/*----------- Large Screen --------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    div.btn-container {
        left: 46%;
    }
}


/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.btn-container {
        left: 46%;
    }
}


/* IPad Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    div.btn-container {
        left: 46%;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    div.btn-container {
        left: 37%;
    }
}


/* iPad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    div.btn-container {
        left: 43%;
    }
}


/* iPad Pro */

@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    div.btn-container {
        left: 45%;
    }
}

@media screen and (min-device-width: 1600px) and (max-device-width: 2000px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.btn-container {
        left: 47.5%;
    }
}

@media screen and (min-device-width: 2000px) and (max-device-width: 2400px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    div.btn-container {
        left: 47.9%;
    }
}

#parallaxPage {
    height: 70em;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%
}

.parallax_group {
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

#parallaxPage {
    background: url(../images/black-background-1583.jpg);
    height: 500px;
    height: 70em;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin-x: 100%;
    perspective-origin-x: 100%;
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

#parallax_layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: -1;
}

.parallax_text {
    text-transform: uppercase;
    background-color: transparent;
    position: absolute;
    transform: translate(-20%, -64%);
    top: 40%;
    left: 9%;
    bottom: 0;
    width: 50%;
}

#parallax_text_feature {
    font-size: 7em;
    color: skyblue;
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(30px) scale(1);
}

.blackbar {
    border-radius: 25px;
    height: 80%;
    width: 10px;
    background-color: white;
    position: absolute;
    transform: translate(-50%, -50%);
}

#blackbar1 {
    top: 40%;
    right: 9%;
    bottom: 0;
}

#blackbar2 {
    top: 44%;
    right: 6%;
    bottom: 0;
}

#blackbar3 {
    right: 3%;
    bottom: 0;
    top: 43%;
}

#homePage {
    background: transparent;
    height: 70em;
    width: 100%;
    margin: 0;
    color: white;
}

#homeTitle {
    margin: 5%;
}

.titleHr {
    width: 30vw;
    border: 3.9px solid white;
}

#goingGreen {
    padding-right: 0px;
    padding-left: 0px;
}


/* Common style */

div.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 320px;
    max-width: 100%;
    max-height: 360px;
    width: 100%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

div.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.nwOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3) repeat center;
    z-index: 10;
}

div.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

div.grid figure figcaption::before,
div.grid figure figcaption::after {
    pointer-events: none;
}

div.grid figure figcaption,
div.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

div.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

div.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    position: absolute;
    top: 36%;
    left: 18%;
}

div.grid figure h2 span {
    font-weight: 800;
}

div.grid figure h2,
div.grid figure p {
    margin: 0;
}

div.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.scootie-panel {
    background-color: red;
    margin-right: 10px;
    margin-top: 17%;
}


/*-----------------*/


/***** Apollo *****/


/*-----------------*/

figure.effect-apollo {
    background: #3498db;
}

figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-apollo h2 {
    text-align: left;
}

figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.featurePanel {
    box-shadow: 10px 10px 50px 5px black;
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 60px;
}

#leftSide1 {
    height: 33vh;
    padding-left: 0px;
    padding-right: 0px;
}

figure#rightSide.effect-apollo {
    height: 33vh;
}


/*---------------*/


/***** Dexter *****/


/*---------------*/

figure.effect-dexter {
    background: -webkit-linear-gradient(top, rgba(37, 141, 200, 1) 0%, rgba(104, 60, 19, 1) 100%);
    background: linear-gradient(to bottom, rgba(37, 141, 200, 1) 0%, rgba(104, 60, 19, 1) 100%);
}

figure.effect-dexter img {
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.effect-dexter:hover img {
    opacity: 0.4;
}

figure.effect-dexter figcaption::after {
    position: absolute;
    right: 30px;
    bottom: 30px;
    left: 30px;
    height: -webkit-calc(50% - 30px);
    height: calc(50% - 30px);
    border: 7px solid #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}

figure.effect-dexter:hover figcaption::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-dexter figcaption {
    padding: 3em;
    text-align: left;
}

figure.effect-dexter p {
    position: absolute;
    right: 60px;
    bottom: 60px;
    left: 60px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
}

figure.effect-dexter:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

h2.captionTitle {
    color: white;
    text-align: center;
    margin-top: 1em;
}

div#thirdRow {
    margin-bottom: 10%;
}

.page {
    position: absolute;
    width: 10em;
    height: 10em;
    top: 48%;
    font-size: xx-large;
    z-index: 14;
    left: 50%;
}

.popup {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
}

.show-popup .popup {
    opacity: 1;
    visibility: visible;
}

.popup>iframe {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -280px;
}